::selection {
  background: #ff6e06;
  color: #ffffff;
}

hr {
  color: #e3e3e3;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: fixed;
  min-height: 90px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.16);
}

main {
  padding-top: 90px;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

/*--------------------------*/

/*------------Header開始--------------*/

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 20px 0;
}

.navBar div a {
  padding: 0 15px;
  color: #505563;
  font-size: 15px;
}

.navBar button {
  background-color: #da3743;
  color: #fafafa;
  font-weight: bold;
  font-size: 18px;
  height: 39px;
  width: 188px;
  border-radius: 50px;
}

.navBar img {
  height: 39.5px;
  width: 90px;
  margin: 0 20px;
  padding: 5px 0 0;
}

/*--------------Header結束-------------*/

/*--------------main開始-------------*/

/*--------------第一區-------------*/

.mainTop {
  background-image: url(https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_%E9%A6%96%E5%9C%96.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
  height: 638px;
  /*------background img end----------*/
  padding-top: 120px;
}

.mainTop div {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
}
.mainTop div span {
  color: #ff6337;
}

.mainTop div h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 15px;
}

.mainTop div h2 {
  font-size: 20px;
  font-weight: 900;
}

.mainTop div p {
  margin: 67px 0 77px;
  color: #595959;
  line-height: 2;
}

.mainTop div a {
  background-color: #064c8c;
  color: #ffffff;
  padding: 10px 21px;
  border-radius: 7px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

/*--------第二區--------*/
.mainTop2nd {
  background-image: url(https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_country.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
  height: 586px;
  /*------background img end----------*/
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.mainTop2nd p {
  color: #333333;
  text-align: center;
  font-size: 17px;
  line-height: 2;
}

/*--------功能介紹標題--------*/

.functionTitle {
  text-align: center;
  line-height: 3;
}

.functionTitle h2 {
  color: #ec6300;
  font-weight: 700;
  font-size: 26px;
}

.functionTitle h1 {
  color: #252932;
  font-weight: 700;
  font-size: 32px;
}

/*--------功能介紹區--------*/

.mainFunction {
  background-image: url(https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_hp_background1.png),
    url(https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_hp_background2.png);
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  height: 2700px;

  /*------background img end----------*/
  margin-top: 45px;
}

.floatImg {
  float: left;
  max-width: 560px;
  max-height: auto;
  margin: 95px 45px 300px 0;
}

.functionBox {
  max-width: 1200px;
  justify-self: center;
}

/*-----列表------*/

.functionList {
  max-width: 560px;
  float: right;
}

.functionList h2 {
  text-align: right;
  margin: 0 400px 60px 0;
  font-size: 24px;
  font-weight: 700;
  color: #064c8c;
}

.functionList div {
  display: flex;
  line-height: 2;
  color: #252932;
  padding: 0 0 25px;
}

.functionList div div {
  flex-wrap: wrap;
}
.functionList div h3 {
  font-size: 19px;
  font-weight: 600;
}

.functionList div img {
  margin: 7px 30px 0 0;
  width: 44px;
  height: 44px;
}

/*----------求助AI----------*/
/*----不管怎麼選都選不到指定的區域----*/
/* 將偶數 .box 裡的 .floatImg 改為向右浮動 */
.mainFunction > .functionBox:nth-of-type(even) .floatImg {
  float: right;
  margin-left: 45px;
  /* 原先 left 排版是使用 margin-right:45px，向右浮動時改為左邊間距 */
  margin-right: 0;
  /* 若需要覆蓋既有樣式並保證生效，可在這裡加上更高權重或使用 !important（不推薦除非必要） */
}

/*-------合作夥伴區------*/

.company {
  height: 914.39px;
  width: 1200px;
  margin: 0 auto;
}

.company h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #252932;
  margin-top: 60px;
}

.companyTag {
  height: 69.34px;
  margin-top: 130px;
  display: flex;
  justify-content: center;
}

.companyCard {
  padding: 14px 20px;
}

.companyCard:hover {
  border-bottom: 5px solid #ff6e06;
}

.companyList {
  max-width: 1160px;
  padding: 0px 20px;
  margin: 50px auto 0;
}

.companyList div {
  display: flex;
  justify-content: center;
}
.companyList div:nth-of-type(2) {
  display: flex;
  justify-content: right;
}
.companyList div:nth-of-type(4) {
  display: flex;
  justify-content: left;
}

.companyList img {
  max-height: 150px;
  min-height: 120px;
}

/*---------------表單區----------------*/

.formContainer {
  background-image: url(https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_form_background.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;

  /*------background img end----------*/
  margin-top: 50px;
  text-align: center;
}

/*------formContainer(最外層)------*/

.formContainer h2 {
  font-size: 18.6px;
  color: #252932;
  margin: 50px 0;
}

.blueBtn {
  background-color: #064c8c;
  color: white;
  padding: 16px 30px;
  border-radius: 10px;

  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.orangeH1 {
  color: #ff6600;
  font-size: 29.3px;
  font-weight: 700;
  line-height: 2;
}

.blackH1 {
  color: #252932;
  font-size: 32px;
  font-weight: 700;
  margin: 80px 0 50px;
}

/*-----formBox(中間層)-------*/

.formBox {
  margin: 0 auto;
  max-width: 760px;
  padding: 70px 10px 50px;
  background-color: #ffffff;
  border-radius: 20px;
}

.formBox h1 {
  font-size: 26.6px;
  color: #064c8c;
  font-weight: 700;
}

.formBox p:nth-of-type(3) {
  line-height: 2;
  margin-top: 25px;
  font-weight: 350;
}

.boldText {
  font-size: 16px;
  color: #252932;
  font-weight: 700;
  line-height: 3.2;
}

.formBox p:nth-of-type(4) {
  line-height: 1;
  font-size: 8pt;
}

.red {
  color: #ff0000;
}

.blue {
  color: #000080;
}

/*-----form(formBox內層)-------*/

.form {
  padding: 80px 0 10px;
}

.form div {
  margin: 0 auto;
  width: 480px;
  color: #252932;
  font-weight: 350;
}

.form input {
  display: block;
  margin: 10px auto;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 10px 12px;
  border-radius: 2px;
  line-height: 1.6;
}

.form ::placeholder {
  color: #757575;
}

.form select {
  display: block;
  margin: 10px auto;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #999999;
  padding: 10px 12px;
  border-radius: 2px;
  line-height: 1.6;
}

.form button {
  background-color: #ec6337;
  color: #ffffff;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  font-size: 13px;
  line-height: 1;
  font-weight: 700;
  margin: 20px 0;
}

/*-----phoneTry層(中間層)-------*/
.phoneTry {
  max-width: 1200px;
  padding: 100px 0 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.phoneTry div {
  padding: 0 20px;
  width: 50%;
}

.phoneTry h1 {
  margin-bottom: 30px;
  color: #333333;
  font-size: 21.3px;
  font-weight: 700;
}
.phoneTry p {
  margin-bottom: 30px;
  color: #252932;
  font-size: 14.6px;
  line-height: 2;
}

.phoneTry div:nth-of-type(1) {
  border-right: 1px solid #cbd1dc;
}

.phoneA {
  font-size: 24px;
  font-weight: 700;
}
.phoneA:hover {
  color: #ff6e06;
}

.tryBtn {
  background-color: #ec6337;
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 12px 20px;
}

/*--------footer---------*/

footer {
  background-color: #333333;
  color: #ffffff;
}
