hr {
  color: #e3e3e3;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: fixed;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.16);
}

main {
  padding-top: 90px;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

/*--------------------------*/

/*------------Header開始--------------*/

.navBar {
  display: flex;
  justify-content: space-between;

  width: 1250px;
  height: 90px;
  padding: 28px;
}

.navBar div a {
  padding: 0 15px;
  color: #505563;
  font-size: 15px;
}

.navBar button {
  background-color: #da3743;
  color: #fafafa;
  font-weight: bold;
  font-size: 18px;
  height: 39px;
  width: 188px;
  border-radius: 50px;
}

.navBar img {
  height: 34px;
  width: 90px;
}

/*--------------Header結束-------------*/

/*--------------main開始-------------*/

/*--------------第一區-------------*/

.mainTop {
  background-image: url(https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_%E9%A6%96%E5%9C%96.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
  height: 638px;
  /*------background img end----------*/
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.mainTop div {
  padding-right: 765px;
}
.mainTop div span {
  color: #ff6337;
}

.mainTop div h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 15px;
}

.mainTop div h2 {
  font-size: 20px;
  font-weight: 900;
}

.mainTop div p {
  margin: 67px 0 77px;
  color: #595959;
  line-height: 2;
}

.mainTop div a {
  background-color: #064c8c;
  color: #ffffff;
  padding: 10px 21px;
  border-radius: 7px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

/*--------第二區--------*/
.mainTop2nd {
  background-image: url(https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_country.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
  height: 586px;
  /*------background img end----------*/
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.mainTop2nd p {
  color: #333333;
  text-align: center;
  font-size: 17px;
  line-height: 2;
}

/*--------第三區--------*/

.mainTop3rd {
  text-align: center;
  line-height: 3;
}

.mainTop3rd h2 {
  color: #ec6300;
  font-weight: 700;
  font-size: 26px;
}

.mainTop3rd h1 {
  color: #252932;
  font-weight: 700;
  font-size: 32px;
}

/*--------功能介紹區--------*/

.mainFunction {
  background-image: url(https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_hp_background1.png),
    url(https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_hp_background2.png);
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  height: 2700px;
  /*------background img end----------*/
  padding-top: 45px;
  display: flex;
  justify-content: center;
}

.floatImg {
  float: left;
  width: 560px;
  height: 490.55px;
  margin-right: 45px;
  margin-top: 95px;
}

.box {
  display: flex;
}

/*-----列表------*/

.boxUl h2 {
  text-align: right;
  margin: 0 400px 60px 0;
  font-size: 24px;
  font-weight: 700;
  color: #064c8c;
}

.boxUl div {
  display: flex;
  width: 560px;
  line-height: 2;
  color: #252932;
  padding: 0 0 30px;
}

.boxUl div div {
  display: block;
}
.boxUl div h3 {
  font-size: 19px;
  font-weight: 600;
}

.boxUl div img {
  margin: 7px 30px 0 0;
  width: 44px;
  height: 44px;
}
