body {
  margin: 100px;
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.box-wrap {
  margin: 50px auto;
}

.box {
  width: 300px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  /* 把超出box的東西遮掉 */
  vertical-align: top;
  /* 水平對齊 */
}

.box img {
  /* width: 300px;
  height: 225px; */
  aspect-ratio: 4/3;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 10px;
}

.box div {
  margin: 20px;
}

.box h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.box p {
  font-size: 16px;
  height: 200px;
  color: rgb(71, 71, 71);
  margin-bottom: 10px;
}

.box h2 {
  font-size: 20px;
  color: brown;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.box div div {
  display: flex;
  justify-self: center;
  gap: 10px;
  margin-bottom: 10px;
}

.box a {
  background-color: rgb(224, 224, 224);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
}

.box button {
  color: white;
  background-color: rgb(90, 165, 226);
  font-size: 14px;
  padding: 10px 100px;
  border-radius: 4px;
  display: flex;
  justify-self: center;
  margin-bottom: 10px;
}
