.card-container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
}

/*--------------------------------*/

.card-group-01 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  margin-bottom: 20px;
}

.card-01 {
  background-color: rgb(198, 255, 236);
  height: 180px;
}

/*--------------------------------*/

.card-group-02 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card-02 {
  background-color: rgb(219, 180, 255);
  height: 340px;
}

/*---------------------------------*/

@media (1024px >= width) {
  .card-group-01 {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-group-01 :nth-of-type(n + 3) {
    display: none;
  }
}

@media (width < 768px) {
  .card-group-01 {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-group-01 :nth-of-type(n + 2) {
    display: none;
  }

  .card-group-02 {
    grid-template-columns: repeat(1, 1fr);
  }
}
