section {
  margin: 100px auto;
}

/*--------------------*/

.btn {
  margin: 100px 500px;
  background-color: rgb(255, 146, 255);
  padding: 10px 20px;
  border-radius: 5px;

  position: relative;
}

.btn:hover::after {
  content: "點按即表同意隱私條約";

  background-color: rgb(255, 200, 98);
  width: 250px;

  padding: 10px 10px;
  border-radius: 100px;

  position: absolute;
  top: -60px;
  right: -70px;
}

.btn:hover::before {
  position: absolute;
  content: " ";

  top: -18px;
  left: 50%;

  transform: translate(-50%);

  border-top: 15px solid rgb(255, 200, 98);
  border-left: 10px solid rgba(255, 133, 133, 0);
  border-right: 10px solid rgba(128, 128, 128, 0);
}

/*------------------*/

.onlineClass {
  text-align: center;
  font-size: 48px;

  line-height: 1;

  position: relative;
}

.onlineClass::before {
  content: ""; /*  一定要放  */
  position: absolute;

  bottom: -20px;
  left: 50%;

  transform: translate(-50%);

  width: 80px;
  height: 2px;
  background: rgb(255, 0, 43);
}

/*--------------------*/

.box {
  margin: 100px;

  border-top: 200px solid rgb(255, 209, 209, 0);

  border-left: 100px solid rgb(194, 255, 194, 1);
  border-right: 100px solid rgb(255, 94, 255, 0);
}

.clip {
  clip-path: polygon(50% 0%, 19% 80%, 99% 75%);
  background-color: bisque;

  height: 200px;
  width: 200px;
}
