section {
  margin: 100px auto;
}

.header {
  background-color: rgb(155, 155, 155);
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;

  z-index: 2;
}

/*-----------------*/

.sticky {
  position: sticky;
  width: 100%;
  background-color: aquamarine;
  top: 80px;
}

.section2{
    background-color: antiquewhite;
}

/*---------------------*/
.box {
  background-color: rgb(255, 235, 146);
  width: 300px;
  height: 300px;
  position: fixed;

  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;

  z-index: 1;
}

.mask {
  background-color: black;
  opacity: 0.6;

  width: 100%;
  height: 100%;

  position: fixed;
}
