section {
  margin: 0 auto;
}

.header {
  background-color: rgb(33, 48, 129);
  color: white;

  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;

  line-height: 1.5;
  text-align: center;
  font-size: 50px;

  z-index: 2;
}

/*-----------------*/

.sticky {
  position: sticky;
  width: 100%;
  height: 50px;
  top: 80px;

  line-height: 3;
  text-align: center;

  background-color: rgb(106, 70, 136);
  color: white;
}

main img {
  margin-top: 80px;
}

main {
  margin-bottom: 1000px;
}
