section {
  margin: 100px auto;
  width: 1100px;

  /* background-color: aliceblue; */
  font-family: Gudea, Heiti, 微軟正黑體, Microsoft JhengHei;
}

h1 {
  font-size: 30px;
  color: #222;
  font-weight: 700;
}

/*---------焦點話題----------*/

.hot-topics h1 {
  position: relative;
  z-index: 1;
}

.hot-topics h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;

  border-width: 40px 40px 0 0;
  border-color: #fab617 transparent transparent;

  z-index: -1;
}

.topics-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
}

.topic {
  background-color: aquamarine;
  border-radius: 10px;

  padding: 30px;
}

.topic-group-01 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.topic1 {
  grid-row: 1/4;
}

.topic2 {
  grid-row: 1/3;
}

.topic5 {
  grid-row: 2/4;
}

.topic-group-02 {
  display: grid;
  gap: 15px;
}

/*---------日本跟團----------*/

.Japan-tour {
  height: 475px;
}

.jp-tour-bar h1 {
  position: relative;
}

.jp-tour-bar h1::before {
  content: "";
  position: absolute;
  left: -10px;

  border-width: 18px 18px 0 0;
  border-color: #11d073 transparent transparent;
}

.jp-tour-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 40px;
}

.jp-tour-bar ul {
  display: flex;
}

.jp-tour-bar li {
  margin: 0 16px 0;
}


.jp-tour-bar li:first-child {
  font-weight: 700;
  color: #0c9251;
  border-bottom: 3px solid #11d073;
}

.jp-tour-grid {
  display: grid;
  grid-template-columns: 540px repeat(2, 1fr);
  gap: 20px;
  height: 395px;
}

.tour {
  background-color: aquamarine;
  border-radius: 10px;
  overflow: hidden;
}

.tour img {
  height: 100%;
  object-fit: cover;
}

.tour1 {
  grid-row: 1/3;
}

/*------------寶島必玩-------------*/

.Taiwan-spot {
  display: grid;
  grid-template-columns: 260px 820px;
  grid-template-areas:
    "header header"
    "aside content"
    "more more";
  grid-template-rows: 40px 395px 22px;
  gap: 20px;
}

.Taiwan-spot a {
  grid-area: more;
  text-align: right;
}

.tw-spot-title {
  position: relative;
}

.tw-spot-title::before {
  content: "";
  position: absolute;
  left: -10px;

  border-width: 18px 18px 0 0;
  border-color: #11d073 transparent transparent;
}

.tw-spot-bar {
  display: flex;
  padding-top: 5px;
}
.tw-spot-bar li {
  font-size: 18px;
  margin: 0 11px;
  padding: 0 5px;
}

.tw-spot-bar li:first-child {
  font-weight: 700;
  color: #0c9251;
  border-bottom: 3px solid #11d073;
}

/*---------寶島必玩-側邊---------*/

.tw-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tw-aside-top h2 {
  font-size: 20px;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
}

.tw-aside-top ul {
  display: block;
  font-size: 0;
}

.tw-aside-top ul li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;

  font-size: 14px;
}

.tw-aside-bottom {
  height: 188px;
  border-radius: 10px;
  overflow: hidden;
}
/*--------寶島必玩-圖片區---------*/

.spot-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.spot {
  background-color: aquamarine;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.spot:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  transition-property: box-shadow;
  transition-duration: 0.25s;
}

.spot-info {
  background-color: #fafafa;
  position: absolute;
  height: 66px;
  width: 100%;
  bottom: 0;
  padding: 10px;

  font-size: 14px;
  font-weight: 700;
}

.spot-info p {
  text-align: right;
  font-weight: normal;
}

.spot-info span {
  color: #ff8b00;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-right: 5px;
}

.spot-big {
  grid-row: 1/3;
}
.spot-small img {
  aspect-ratio: 6.4/3;
  object-fit: cover;
}

.Taiwan-spot > a {
  font-size: 18px;
}
