section {
  /* margin: 100px auto; */
}

.box-wrap {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(227, 255, 199);
  justify-content: space-between;
  width: 1024px;
  padding: 10px 20px;
}

.box {
  background-color: rgb(234, 180, 255);
  margin: 0 10px;

  padding: 10px;
}

.box-wrap2 {
  display: flex;
}

.box6 {
  background-color: aqua;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  text-align: center;
}

.box1 img {
  aspect-ratio: 1/1;
  height: 30px;
}

.box7 {
  background-color: blue;
  max-width: 1024px;
  padding: 10px;
  margin: 0 auto;
}

/*--------------*/

.asideSection {
  display: flex;
  max-height: 200px;
}

.asideBar {
  background-color: aqua;
  width: 20%;
  min-height: 100vh;
  /* 2.讓選單直排 */
  display: flex;
  flex-direction: column;
}

.asideLink {
  /* 1.讓選單直排 */
  /* display: block; */
}

.p {
  background-color: bisque;
  width: 80%;
  min-height: 100vh;
}
