section {
  margin: 100px auto;
}

body {
  background-color: #ffffff;
}

.card-container {
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 1200px;
  padding: 16px 32px;
}

.company-container {
  max-width: 1152px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hashtag {
  margin: 20px 0;
}

.hashtag a {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.329);
}

.company-card {
  gap: 16px;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 16px;
}

.company-card img {
  aspect-ratio: 1/1;
}

.company-card div {
  display: flex;
  gap: 16px;
}
