section {
  margin: 100px auto;
}

body {
  background-color: #ffffff;
}

.card-container {
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 1200px;
  padding: 16px 32px;
}

.company-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1136px;
  gap: 20px;
}

.hashtag {
  margin: 20px 0;
}

.hashtag a {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.329);
}

.company-card {
  background-color: white;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 10px;
  width: calc(25% - 15px);
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.img-title img {
  aspect-ratio: 1/1;
  width: 25%;
  border-radius: 8px;
  flex-shrink: 0;
  /* 讓圖片不要因為flex被壓縮 */
}

.img-title {
  display: flex;
  gap: 16px;
  align-items: center;
}

.img-title a {
  font-size: 16px;
  color: #1654b9;
}

:root {
  --default-color: green;
  --aaa: 16px;
}

/*------------*/

.box {
  margin: 0 auto 500px;
  background-color: #e1ffb9;
  height: 200px;
  width: 200px;
  overflow: hidden;
  box-shadow: 10px 10px 0px 0px rgb(255, 150, 150);
  border-radius: 10px;
}
