table,
th,
td {
  font-family: DFKai-sb, serif;
  border-collapse: collapse;
  border: 2px solid #000;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}
table {
  border: 5px double #000;
}

th {
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: normal;
}

.diagonal-line {
  background-image: linear-gradient(to top right, white 49%, black, white 51%);
  table-layout: fixed;
}

.vertical-text {
  writing-mode: vertical-lr;
  letter-spacing: 10px;
}

.vertical-text-wide {
  writing-mode: vertical-lr;
  letter-spacing: 150px;
}

.wide-letter-spacing {
  letter-spacing: 80px;
  font-size: 25px;
  height: 40px;
}

.class {
  font-size: 30px;
  width: 100px;
}

.class02 {
  letter-spacing: 2px;
  font-size: 23px;
}

.class03 {
  font-size: 25px;
  height: 40px;
}

.week {
  font-size: 30px;
}

.bold {
  font-weight: bold;
  font-size: 15px;
}

.teacher {
  line-height: 1.3;
  font-weight: bold;
  font-size: 20px;
}
