table,
th,
td {
  font-family: DFKai-sb, serif;
  border-collapse: collapse;
  border: 1px solid #000;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

th {
  line-height: 1.5;
  letter-spacing: 1px;
}

.diagonal-line {
  background-image: linear-gradient(to top right, white 49%, black, white 51%);
  table-layout: fixed;
}

.vertical-text {
  writing-mode: vertical-lr;
  letter-spacing: 10px;
}

.big-letter-spacing {
  letter-spacing: 80px;
  font-size: 25px;
  height: 40px;
}

.class {
  font-size: 30px;
  width: 100px;
}

.class02 {
  letter-spacing: 2px;
  font-size: 23px;
}

.class03 {
  font-size: 25px;
  height: 40px;
}

.week {
  font-size: 30px;
}
