table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #000;
  text-align: center;
  vertical-align: middle;
}
th,
td {
  padding: 10px;
}
.diagonal-line {
  background-image: linear-gradient(to top right, white 49%, black, white 51%);
}

.vertical-text {
  writing-mode: vertical-lr;
}
