section {
  margin: 100px;
  background-color: #eee5e5;
}
/*-------------------------*/

.block {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 4px;

  margin-top: 200px;
  margin-bottom: 500px;
}

.item {
  background-color: #fffeb5;
}


.item1{
    background-color: rgb(255, 163, 163);
    grid-column: 1/3;
    grid-row:1/3
}

.item2{
    background-color: rgb(163, 255, 163);
    
}

/*-----------------------*/
.wrap {
  height: 600px;

  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;

  justify-items: center;
}

.box {
  font-size: 50px;
}

.box1,
.box4 {
  background-color: rgb(255, 241, 194);
}

.box2,
.box5 {
  background-color: rgb(255, 167, 251);
  justify-self: stretch;
}

.box3,
.box6 {
  background-color: rgb(212, 255, 194);
}

/*----------------*/

.s1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background-color: rgb(185, 230, 233);
  border: 5px solid rgb(255, 0, 0);
}

.cardImg {
  aspect-ratio: 4/3;
  width: 100%;
  object-fit: cover;
}
