section {
  margin: 100px auto;
  background-color: rgb(199, 199, 199);
}

.hot-topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.topic {
  background-color: aquamarine;
  border-radius: 10px;

  padding: 30px;
}

.topic1 {
  grid-row: 1/4;
}

.topic2 {
  grid-row: 1/3;
}
