section {
  margin: 100px;
  background-color: rgb(131, 126, 121);
}
/*--------------------------*/

.card {
  width: 300px;
  background-color: bisque;
  padding: 20px 20px 40px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.imgBox {
  aspect-ratio: 1/1;
  /* overflow: hidden; */
  position: relative;
}

.stayImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideImg {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  right: -280px;
}

.hint {
  position: absolute;
  background-color: brown;

  bottom: -50px;
  left: 0;
  right: 0;
}

.slideImg:hover {
  right: 0;
  transition-duration: 2s;
}

.hint:hover {
  bottom: 0px;
  transition-duration: 2s;
}
/*----------------------*/
.box {
  width: 300px;
  height: 300px;

  text-align: center;
  line-height: 2;

  background-color: rgb(143, 51, 218);
  font-size: 36px;

  transition-property: background-color, border-radius;
  transition-duration: 2s, 2s;
  transition-delay: 2s, 0s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.box:hover {
  background-color: rgb(255, 178, 114);
  border-radius: 100%;

  transition-property: background-color, border-radius;
  transition-duration: 2s, 2s;
  transition-delay: 0s, 2s;
}
/*---------------------*/
