body,
footer {
  background-color: #f0ebf8;
  font-family: "Roboto", sans-serif;
  width: 640px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  margin: 0 0 12px;
}

hr {
  color: rgb(218, 220, 224);
}

textarea {
  width: 100%;
  height: 28px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgb(218, 220, 224);
  background: transparent;
  resize: none;
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

::placeholder {
  font-size: 14px;
  color: rgb(130, 130, 130);
}

input[type="date"] {
  font-size: 14px;
}

fieldset {
  font-size: 14.6667px;
  line-height: 2.5;
  margin: 12px 0 0 0;
}

select {
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 3px;
  width: 170px;
  height: 50px;
  margin: 20px 0;
  color: black;
}

select:focus {
  border: 1px solid #e0e0e0;
}

/*

變色動畫(簡易版)

input {
  border-bottom: 1px solid rgb(218, 220, 224);
  font-size: 16px;
  outline: none;
  transition: border-bottom-color 0.3s ease-in-out;
}

input:focus {
  border-bottom: 2px solid rgb(103, 58, 183);
}

*/

.input {
  font-size: 16px;
  display: block;
  width: 100%;
  border-bottom: 1px solid rgb(218, 220, 224);
  background: transparent;
  padding: 0 0 2px;
  margin: 5px 0 5px;
}

.input:focus {
  outline: none;
}

/* 下劃線動畫開始 */
/* 參考https://www.youtube.com/watch?v=0alOyHRtvhY */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar::before,
.bar::after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 5px;
  position: absolute;
  background: rgb(103, 58, 183);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar::before {
  left: 50%;
}

.bar::after {
  right: 50%;
}

.input:focus ~ .bar::before,
.input:focus ~ .bar::after {
  width: 50%;
}

/* 這是下劃線動畫結束 */

.input-text-wedth {
  width: 300px;
}

.input-date-wedth {
  width: 130px;
}

.title-text {
  font-size: 14px;
  padding: 10px 25px 12px;
  line-height: 1.4;
  color: rgb(32, 33, 36);
}

.login-gray {
  color: rgb(95, 99, 104);
}

.title-gray-text {
  color: rgb(32, 33, 36);
}

.form-title {
  background-color: #ffffff;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  margin-bottom: 12px;
  margin-top: 12px;
  border-top: 10px solid rgb(103, 58, 183);
}

.form-container {
  font-size: 16px;
  color: rgb(32, 33, 36);
  background-color: #ffffff;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 12px;
}

.button-submit {
  background-color: rgb(103, 58, 183);
  font-size: 14px;
  color: white;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}
.button-reset {
  color: rgb(103, 58, 183);
  font-size: 14px;
  cursor: pointer;
}

.small-text {
  font-size: 12px;
  color: rgb(117, 117, 117);
  margin-top: 10px;
}

.required-text {
  color: #d93025;
}

.form-container-title {
  margin: 12px 0;
}

.button-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.footer-info {
  padding: 10px;
  text-align: center;
  margin: 10px 0;
}

.footer-little-gray-text {
  font-size: 12px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.66);
}

.a-gary {
  color: rgba(0, 0, 0, 0.66);
}
.a-blue {
  color: rgb(26, 115, 232);
}
.a-underline {
  text-decoration: underline;
}
.gary-text {
  font-size: 25px;
  color: rgba(35, 35, 35, 0.66);
}
