body {
  background-color: #f0ebf8;
}
section {
  width: 640px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
}

::placeholder {
  color: rgb(130, 130, 130);
}

/*

變色動畫(簡易版)

input {
  border-bottom: 1px solid rgb(218, 220, 224);
  font-size: 16px;
  outline: none;
  transition: border-bottom-color 0.3s ease-in-out;
}

input:focus {
  border-bottom: 2px solid rgb(103, 58, 183);
}

*/

.input {
  font-size: 16px;
  display: block;
  width: 100%;
  border-bottom: 1px solid rgb(218, 220, 224);
  background: transparent;
}

.input:focus {
  outline: none;
}

/* 下劃線動畫開始 */
/* 參考https://www.youtube.com/watch?v=0alOyHRtvhY */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar::before,
.bar::after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgb(103, 58, 183);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar::before {
  left: 50%;
}

.bar::after {
  right: 50%;
}

.input:focus ~ .bar::before,
.input:focus ~ .bar::after {
  width: 50%;
}

/* 這是下劃線動畫結束 */

.input-text-wedth {
  width: 300px;
}

.input-date-wedth {
  width: 140px;
}

.line {
  border-top: 1px solid rgb(218, 220, 224);
}

.title-text {
  font-size: 14px;
  padding: 20px 20px 12px; /* 上-左右-下  */
  line-height: 1.2;
  color: rgb(32, 33, 36);
}

.form-title {
  background-color: #ffffff;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  margin: 20px auto;
}

.form-container {
  font-size: 16px;
  color: rgb(32, 33, 36);
  background-color: #ffffff;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  padding: 20px 20px 30px; /* 上-左右-下  */
  margin: 20px auto;
}

.button {
  background-color: rgb(103, 58, 183);
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
}

.small-text {
  font-size: 12px;
  color: rgb(117, 117, 117);
  margin-top: 10px;
}
