[class*="col-"] {
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/*------------------------------------------*/

[class*="cols-"] {
  box-sizing: border-box;
}

.cols-1 > .col {
  width: 100%;
}

.cols-2 > .col {
  width: 50%;
}

.cols-3 > .col {
  width: 33.33%;
}

.cols-4 > .col {
  width: 25%;
}

.cols-5 > .col {
  width: 20%;
}

.cols-6 > .col {
  width: 16.66%;
}

.cols-7 > .col {
  width: 14.28%;
}

@media (min-width: 768px) {
  .cols-md-1 > .col {
    width: 100%;
  }

  .cols-md-2 > .col {
    width: 50%;
  }

  .cols-md-3 > .col {
    width: 33.33%;
  }

  .cols-md-4 > .col {
    width: 25%;
  }

  .cols-md-5 > .col {
    width: 20%;
  }

  .cols-md-6 > .col {
    width: 16.66%;
  }

  .cols-md-7 > .col {
    width: 14.28%;
  }
}

@media (min-width: 992px) {
  .cols-lg-1 > .col {
    width: 100%;
  }

  .cols-lg-2 > .col {
    width: 50%;
  }

  .cols-lg-3 > .col {
    width: 33.33%;
  }

  .cols-lg-4 > .col {
    width: 25%;
  }

  .cols-lg-5 > .col {
    width: 20%;
  }

  .cols-lg-6 > .col {
    width: 16.66%;
  }

  .cols-lg-7 > .col {
    width: 14.28%;
  }
}
