section {
  max-width: 800px;
  margin: 100px auto;
  /* background-color: #aaa; */
}

.ani-box-container {
  padding: 10px;
  border: 10px solid #220037;
  display: flex;
  gap: 10px;
}

/*-----------------------------*/

.box-ani-02 {
  height: 200px;
  width: 200px;
  background-color: #220037;
  padding: 10px;
  position: relative;
}

.little-box-long {
  height: 120px;
  width: 60px;
  background-color: #9170a5;
}

.little-box-4 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  animation-name: little-box-move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.little-box-5 {
  position: absolute;
  left: 70px;
  bottom: 10px;
  animation-name: little-box-move;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.little-box-6 {
  position: absolute;
  left: 130px;
  bottom: 10px;
  animation-name: little-box-move;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes little-box-move {
  100% {
    transform: translate(0px, -60px);
  }
}

/*-----------------------------*/

.box-ani-01 {
  height: 200px;
  width: 200px;
  background-color: #220037;
  padding: 10px;
  position: relative;
}

.little-box {
  height: 60px;
  width: 60px;
  background-color: #9170a5;
}

/*-----定位好，會從位置往外長-----*/
.little-box-1 {
  position: absolute;
  animation-name: loading-bars;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.little-box-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: loading-bars;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.little-box-3 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  animation-name: loading-bars;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes loading-bars {
  0% {
    height: 60px;
    width: 60px;
  }

  25% {
    height: 180px;
    width: 60px;
  }

  50% {
    height: 60px;
    width: 60px;
  }

  75% {
    width: 180px;
  }
}

/*-------------------------------*/
.box {
  background-color: #fa0;
  height: 300px;
  width: 300px;

  animation-name: move;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes move {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: calc(100% - 300px);
  }
}
