section {
  margin: 100px auto;
  max-width: 1200px;
  background-color: #aaa;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.card {
  /* width: 25%; */
  height: 300px;
  background-color: #aaf;
  border: 1px solid white;
  margin: 0 10px;
}

